<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grey.myblog.dao.WebsiteInfoDAO">

    <resultMap id="BaseResultMap" type="com.grey.myblog.model.dataobject.WebsiteInfoDO">
        <id property="id" column="id" />
        <result property="bloggerName" column="blogger_name" />
        <result property="avatar" column="avatar" />
        <result property="intro" column="intro" />
        <result property="githubUrl" column="github_url" />
        <result property="email" column="email" />
        <result property="aboutContent" column="about_content" />
        <result property="updateTime" column="update_time" />
        <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,blogger_name,avatar,intro,github_url,email,about_content,update_time,is_deleted
    </sql>
</mapper>
